= form_with model: @user_register_form, url: users_path, local: true do |f|
  - if @user_register_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_register_form.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user_register_form.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :age
    = f.number_field :age

  .field
    = f.label :addresses
    = f.fields_for :addresses do |addresses_form|
      = addresses_form.text_field :municipality
      = addresses_form.collection_select :prefecture_id, Prefecture.all, :id, :name
      = addresses_form.select :kind_id, Address.kind_ids.keys.to_a, {}

  .field
    %ul
      %li
        = f.fields_for :post_images do |image_form|
          = f.label :post_images
          = image_form.file_field :file_name, accept: 'image/jpg,image/jpeg,image/png,image/gif'

  .actions
    = f.submit 'Save'
