%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Age:
  = @user.age

%p
  %b Addresses:
  %ul
    - @user.addresses.each do |address|
      %li
        #{address.prefecture.name} #{address.municipality}（#{address.kind_id}）

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
