= form_for @address do |f|
  - if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul
        - @address.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :prefecture_id
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name
  .field
    = f.label :municipality
    = f.text_field :municipality
  .field
    = f.label :kind_id
    = f.select :kind_id, Address.kind_ids.keys.to_a, {}
  .actions
    = f.submit 'Save'
